@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}
@import "fonts";

$mainColor: #F4F1DE;
$textColor: #3D405B;
$highlightColor: #e07a5f;
$linkColor: #81b29a;
$appColor: #f2cc8f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  background: $mainColor;
  color: $textColor;
  transition: .3s;
}

a {
  color: $linkColor;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

header {
  max-width: 1170px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 90px;
  animation: rotate 1s linear 1s infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  p {
    margin-right: 200px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  img {
    cursor: pointer;
    width: 40px;
  }
}

#light-mode {
  display: none;
}

main {
  max-width: 1170px;
  margin: 20px auto;
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.app {
  background: $appColor;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: .3s;
}

.card {
  position: relative;
  width: 260px;
  min-height: 300px;
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  transition: .3s;
  
  img {
    width: 30px;
  }
  
  h2 {
    margin-bottom: 12px;
    margin-top: 12px;
  }
}

.create-card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 100;
  cursor: pointer;
}

.create {
  border: 1px dashed #000;
  width: 117px;
  text-align: center;
  border-radius: 50%;
  transition: .3s;
  
  &:hover {
    transform: scale(1.2);
  }
}

.card form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  
  input,
  textarea,
  button {
    font-family: 'Gilroy', sans-serif;
    padding: 5px;
  }
  
  textarea {
    height: 155px;
    resize: none;
  }
  
  button {
    border: none;
    cursor: pointer;
    background: #e07a5f;
    color: #fff;
    border-radius: 3px;
  }
}

.remove-card {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 2px;
  top: 0px;
  text-align: center;
  font-size: 40px;
  transform: rotate(45deg);
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #F2CC8F;
}

body.dark {
  background: #3d405b;
  color: #f4f1de;
}

.app.dark {
  background: #2b223a;
}

.card.dark {
  background: #000;
}

.create.dark {
  border: 1px dashed #fff;
}

footer.dark {
  background:#2b223a;
}